{% extends "dashboard.html" %}

{% block scrollablesection %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="mt-4">Welcome to the Premium Page</h2>
            <p class="lead">This section is exclusively available for premium users. Enjoy the special features and content we've prepared just for you!</p>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body">
                    <i class="fas fa-trophy fa-3x text-warning"></i>
                    <h5 class="card-title mt-3">Exclusive Content</h5>
                    <p class="card-text">Access to articles, tutorials, and resources that are not available to free users.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body">
                    <i class="fas fa-crown fa-3x text-warning"></i>
                    <h5 class="card-title mt-3">Premium Support</h5>
                    <p class="card-text">Get priority support from our team with faster response times.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body">
                    <i class="fas fa-gift fa-3x text-warning"></i>
                    <h5 class="card-title mt-3">Special Offers</h5>
                    <p class="card-text">Enjoy special discounts and offers available only to premium members.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
